
SUPABASE_URL=https://lwekcegvhnxbsowduooo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3ZWtjZWd2aG54YnNvd2R1b29vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyMjIwMTcsImV4cCI6MjA4Mzc5ODAxN30.rg8rAr2oafAEbrtw4-iAs0Lw6PqFfmm-GMK2xHloeDA

OPENAI_API_KEY=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

GEMINI_API_KEY=AIzaSyAlwLIXOAQOTIBSWf2Qkepni3wrl33sXSc

# Langfuse
LANGFUSE_PUBLIC_KEY=pk-lf-7dcee521-650f-44fc-94a9-8f82f1cbd2ea
LANGFUSE_SECRET_KEY=sk-lf-3e8b5475-e564-407f-85ae-517d9a1229c9
LANGFUSE_HOST=https://cloud.langfuse.com # or self-hosted URL later